{% extends 'base.html.twig' %}

{% block title %}Editar Fornecedor{% endblock %}

{% block body %}
<div class="espaco">
    <h3>Editar Fornecedor</h3>

    {{ include('fornecedor/_form.html.twig', {'button_label': 'Atualizar'}) }}

    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
               {% if is_granted('ROLE_ADMIN') %}
                {{ include('fornecedor/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
{% endblock %}