 <div class="ui segment">
                <div class="ui card">
                    <div class="content">
                        <div class="header"> 
                        Qtd de Produtos
                            <div class="right floated meta">
                                <i class="ticket alt icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <h4 class="ui sub header"> 
                        </h4>
                        <div class="ui small feed">
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                    Vendas R$
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                      Comissão R$
                                    </div>
                                </div>
                            </div>
                            <div class="event">
                                <div class="content">
                                    <div class="summary">
                                      Descontos R$
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" content"> 
                       Total R$
                    </div>
                </div>
                
            </div>   