{% extends 'base.html.twig' %}

{% block title %}Novo Usuário{% endblock %}

{% block body %}   
 <div class="espaco">
 <div class="ui grid">
        <div class="row">
            <div class="eight wide column">
                <h3>Adicionar Usuário</h3>
            </div>
            <div class="eight wide column">

            </div>
        </div>
    </div>
    {{ include('user/_form.html.twig') }}
        
</div>
{% endblock %}
